body{
    background-color:#00e1ff;
}

.titulo{
    color: #0505eb;
    font-size: 50px;
}

#lista{
    color: brown ;
}

.desc{
    color: chocolate;
    text-align: center;
}

.imagen{
    width: 100px;
    display: block;
    margin: auto;
}

